@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Work Sans", sans-serif;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}

html{
    font-size: 16px;
}



/* shared styles  */

.sectionheader{
    color: rgb(19, 19, 19);
    font-size: 2.8125rem;
    font-weight: 700;
    line-height: 3.3125rem;
}

p{
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.btn{
    border-radius: .5rem;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1.25rem 1.5625rem;
    border: none;
}




/*   header section    */

header{
    padding: 50px 20px 45px;
    background: rgba(255, 144, 14, 0.1);
}

.header{
    max-width: 1400px;
    margin: 0px auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    width: 475px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li{
    list-style: none;
}

nav a{
    color: rgb(66, 66, 66);
    font-size: 18px;
    font-weight: 500;
}



.headertext{
    max-width: 900px;
    text-align: center;
    margin: 6.375rem auto 3.125rem;
}

.headertext h1{
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.6875rem;
    text-align: center;
}

.headertext p{
    text-align: center;
    padding: 2rem 0px;
}

.banner{
    max-width: 1400px ;
    margin: 0px auto;
}

.banner img{
    width: 100%;
}









