@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Work Sans", sans-serif;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}





/* shared styles  */

.sectionheader{
    color: rgb(19, 19, 19);
    font-size: 2.8125rem;
    font-weight: 700;
    line-height: 3.3125rem;
}

p{
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.btn{
    border-radius: .5rem;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1.25rem 1.5625rem;
    border: none;
}

main{
    padding: 0px 20px;
}

section,footer{
    max-width: 1400px;
    margin: auto;
}

.span1{
    color: rgb(255, 144, 14);
}

.span2{
    color: rgb(114, 114, 114);
}




/*   header section    */

header{
    padding: 50px 20px 45px;
    background: rgba(255, 144, 14, 0.1);
}

.header{
    max-width: 1400px;
    margin: 0px auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    width: 475px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li{
    list-style: none;
}

nav a{
    color: rgb(66, 66, 66);
    font-size: 18px;
    font-weight: 500;
}



.headertext{
    max-width: 900px;
    text-align: center;
    margin: 100px auto 50px;
}

.headertext h1{
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.6875rem;
    text-align: center;
}

.headertext p{
    text-align: center;
    padding: 2rem 0px;
}

.banner{
    max-width: 1400px ;
    margin: 0px auto;
}

.banner img{
    width: 100%;
}






/*    feature section   */

.feature{
    margin: 85px auto 0px;
    display:flex;
    gap: 75px;
    justify-content: center;
    align-items: center;
}

.featurepic{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 700px;
    gap: 24px;
}

.feature img{
    width: 100%;
}

.featuretext{
    max-width: 530px;
}

.feature p{
    margin: 24px 0px 32px;
}




/*   love section   */









/*   fact section   */

.fact{
    margin: 130px 0px 0px;
}

.fact>p{
    margin: 24px 0px 100px;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card{
    width: 240px;
    height: 240px;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card img{
    width: 45px;
    height: 45px;
}

.card h1{
    margin: 10px 0px 5px;
}

.card p{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 600;
}




/*  sponsor section    */

.sponsor{
    margin-top: 180px;
    text-align: center;
}


.sponsor img{
    width: 100%;
    filter: grayscale(100%);
}

.spntext{
    max-width: 540px;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 50px;
}

.spncontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.spncontainer div{
    width: 8.65vw;
}





/*   footer   */

footer{
    margin-top: 130px;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background: rgb(255, 244, 231);
}










@media screen and (max-width:576px) {
    html{
        font-size: 14px;
    }
    nav{
        flex-direction: column;
    }
    nav h2{
        margin-bottom: 40px;
    }
    .headertext{
        margin: 80px auto 50px;
    }
    nav ul{
        width: calc( 100vw - 40px );
    }
    .feature{
        flex-direction: column;
        gap: 60px;
    }
    .featuretext{
        text-align: center;
    }
    .fact {
        margin-top: 85px;
        text-align: center;
    }
    .fact>p{
        margin-bottom: 60px;
    }
    .container{
        flex-direction: column;
        row-gap: 40px;
    }
    .sponsor{
        margin-top: 120px;
    }

    footer{
        margin-top: 85px;
    }
}









