@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Work Sans", sans-serif;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}